<template>
  <base-section id="join-us">
    <base-section-heading title="Join us">
      Join us to talk about 3DPrinting, Free Software and more! Get the sources codes and test on your 3DPrinters and
      give feedback to us!
    </base-section-heading>

    <v-container>
      <v-row>
        <v-col
          v-for="(feature, i) in features"
          :key="i"
          cols="12"
          md="6"
        >
          <base-avatar-card
            v-bind="feature"
            align="left"
            horizontal
          >
            {{ feature.text }}
          </base-avatar-card>
        </v-col>
      </v-row>
    </v-container>
  </base-section>
</template>

<script>
  export default {
    name: 'SectionThemeFeatures',

    data: () => ({
      features: [
        {
          title: 'KDE Atelier Group',
          icon: 'mdi-telegram',
          text: 'General group to discuss about the project. English only.',
          href: 'https://t.me/KDEAtelier',
        },
        {
          title: 'KDE Atelier Brazil Group',
          icon: 'mdi-telegram',
          text: 'General group to discuss about the project. Portuguese only.',
          href: 'https://t.me/KDEAtelierBr',
        },
        {
          color: 'primary',
          dark: true,
          title: 'AtCore Library',
          icon: 'mdi-gitlab',
          text: 'AtCore is the library that powers up Atelier and control everything related to the 3DPrinter. It\'s pure C++ code powered by Qt. AtCore is licensed under LGPL V2.',
          href: 'https://invent.kde.org/libraries/atcore',
        },
        {
          color: 'primary',
          dark: true,
          title: 'Atelier Host',
          icon: 'mdi-gitlab',
          text: 'Atelier is the union of AtCore and KDE Frameworks to provide an unique experience to the user at any platform. Atelier is licensed under GPL V2.',
          href: 'https://invent.kde.org/utilities/atelier',
        },
        {
          title: 'Atelier Quick Print',
          icon: 'mdi-widgets',
          text: 'Atelier Quick Print is a plasmoid widget that allows you to connect to your 3DPrinter directly from your Plasma Desktop. Quick Print is licensed under the GPL V2.',
          href: 'https://invent.kde.org/laysrodrigues/atelier-plasmoid',
        },
        {
          title: 'Powered by Qt and KDE Frameworks',
          icon: 'mdi-information',
          href: 'https://api.kde.org/frameworks/',
        },
      ],
    }),
  }
</script>
