<template>
  <v-theme-provider :dark="dark">
    <div>
      <base-img
        :src="require('@/assets/kde-logo-white.svg')"
        contain
        max-width="128"
        min-height="78"
        width="100%"
      />

      <base-title
        size="body-1"
        space="4"
        title="KDE Community"
        weight="regular"
      />

      <base-body>
        Use KDE software to surf the web, keep in touch with colleagues, friends and family, manage your files, enjoy music and videos; and get creative and productive at work. The KDE community develops and maintains more than 200 applications which run on any Linux desktop, and often other platforms too.
      </base-body>

      <base-btn
        class="mb-12"
        color="white"
        outlined
        href="https://kde.org"
      >
        More Info
      </base-btn>
    </div>
  </v-theme-provider>
</template>

<script>
  export default {
    name: 'BaseInfo',

    props: {
      title: String,
      dark: Boolean,
    },

    data: () => ({
      business: [
      ],
    }),
  }
</script>
