<template>
  <v-footer
    id="home-footer"
    color="grey darken-4"
    dark
    min-height="72"
  >
    <v-container>
      <v-row>
        <v-col
          cols="12"
          md="6"
        >
          <div class="d-flex flex-wrap justify-md-start justify-center justify-md-none">
            <template v-for="(s, i) in social">
              <a
                :key="s.media"
                class="white--text pa-1 pa-md-0"
                :href="s.url"
                v-text="s.media"
              />

              <v-responsive
                v-if="i < social.length - 1"
                :key="`divider-${i}`"
                class="mx-4 shrink hidden-sm-and-down"
                max-height="24"
              >
                <v-divider vertical />
              </v-responsive>
            </template>
          </div>
        </v-col>

        <v-col
          class="text-center text-md-right"
          cols="12"
          md="6"
        >
          <v-icon>mdi-creative-commons</v-icon>
          Except where otherwise noted, content on this site is licensed under a
          Creative Commons Attribution 4.0 International license. | KDE - 2020
        </v-col>
      </v-row>
    </v-container>
  </v-footer>
</template>

<script>
  export default {
    name: 'HomeFooter',

    data: () => ({
      social: [
        {
          media: 'Mastodon',
          url: 'https://mastodon.technology/@kde',
        },
        {
          media: 'YouTube',
          url: 'https://www.youtube.com/c/KdeOrg/',
        },
        {
          media: 'Facebook',
          url: 'https://www.facebook.com/kde',
        },
        {
          media: 'Twitter',
          url: 'https://twitter.com/kdecommunity',
        },
        {
          media: 'Instagram',
          url: 'https://www.instagram.com/kdecommunity/',
        },
        {
          media: 'Linkedin',
          url: 'https://www.linkedin.com/company/kde/',
        },
      ],
    }),
  }
</script>

<style lang="sass">
  #home-footer a
    text-decoration: none
</style>
